# Question 1

In [1]:
my_name = 'Steven'
print (my_name)

Steven

# Question 2

In [3]:
my_id = 12345
print (my_id)

12345

# Question 3

In [4]:
my_id_str = '12345'
print (my_id_str)

12345

# Question 4

In [5]:
my_name + my_id
#NO YOU CAN NOT, ONE VARIABLE IS A STRING, THE OTHER IS AN INTEGER

TypeError: must be str, not int

# Question 5

In [6]:
my_name + my_id_str
#YES YOU CAN. BOTH VARIABLES ARE IN STRING FORMAT

'Steven12345'

# Question 6

In [8]:
new_str = 'hello, world. This is my first python string'
print (new_str.split('.'))

['hello, world', ' This is my first python string']

# Question 7

In [20]:
str_list = ['a','b','c','d','e']
str_list.sort()
print (str_list)
#YES YOU CAN

['a', 'b', 'c', 'd', 'e']

# Question 8

In [12]:
str_list.append('f')
print (str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# Question 9

In [21]:
str_list.remove('d')
print (str_list)

['a', 'b', 'c', 'e']

# Question 10

In [23]:
print(str_list[2])

c

# Question 11

In [24]:
num_list = [12,32,43,35]
print(str_list + num_list)
#YES YOU CAN

['a', 'b', 'c', 'e', 12, 32, 43, 35]

# Question 12

In [29]:
my_dict = {'name':'steven','id':my_id}
print(my_dict)

{'name': 'steven', 'id': 12345}

# Question 13

In [30]:
my_dict ['name'] = 'davic'
print (my_dict)

{'name': 'davic', 'id': 12345}

# Question 14

In [31]:
print (my_dict['id'])

12345

# Question 15

In [34]:
my_dict ['id'] = 54321
print (my_dict['id'])

54321

# Question 16

In [35]:
my_dict ['num_list'] = num_list
print (my_dict)
#WE JUST ADDED A NEW KEY CALLED num_list AND THE VALUE AS A LIST

{'name': 'davic', 'id': 54321, 'num_list': [12, 32, 43, 35]}